/* CSS declarations go here */

body {
	font-family: "freight sans" !important;
}

.dropzone {
	margin: 0 auto;
	width: 40%;
	min-height: 150px;
    border: 2px dotted rgba(0, 0, 0, 0.3);
    background: white;
    padding: 20px 20px;
}

.header {
	text-align: center;
	font-size: x-large;
}

.compareDiv {
	text-align: center;
}

.imagesDiv {
	text-align: center;
}

.uploadImages {
	text-align: center;
}

table {
	margin: 0 auto;
}

#thisButton {
	border-width: 6px 20px;
	border-radius: 4px;
	border-style: solid;
	-webkit-text-stroke: 1px black;
}

#thatButton {
	border-width: 6px 20px;
	border-radius: 4px;
	border-style: solid;
	-webkit-text-stroke: 1px black;
}

.imagesDiv img {
	width:20%; /* you can use % */
    height: auto;
}