/* CSS declarations go here */
body {
	font-family: "freight sans" !important;
	text-align: center;
}

.header {
	text-align: center;
	font-size: x-large;
}

.footer {
	font-size: large;
}

.footer b {
	color: Aqua;
}

.compareDiv {
	text-align: center;
}

.imagesDiv {
	text-align: center;
}

.imagesDiv img {
	width:20%; /* you can use % */
    height: auto;
}

table {
	width: 40%;
	margin: 0 auto;
}

table td {
	width: 30%;
}

.dz-image-preview {
	width: 45%;
	display: inline-block;
}

.voteimg {
	height: 250px;
	width: 250px;
}

.dz-remove {
	text-decoration: none;
	color: gray;
	display: block;
	cursor: pointer !important;
}

.linkShare {
	margin: 0 auto;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
}

.dropzone {
	margin: 0 auto;
	width: 50%;
	min-width: 400px;
	min-height: 300px;
    border: 2px dotted rgba(0, 0, 0, 0.3);
    background: white;
    padding: 20px 20px;
    overflow: hidden;
}

.uploadImages {
	text-align: center;
}

#thisButton, #thatButton, #okButton, #likeButton, .shareLink, .shareButton, #firstVote, #secondVote{
	border-width: 6px 20px;
	border-radius: 4px;
	border-style: solid;
	-webkit-text-stroke: 1px black;
}